<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>上传文件</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./css/weui.css" />
    <link rel="stylesheet" href="./css/base.css" />
    <style>
      .page__bd.page__bd_spacing {
        padding: 0 15px;
        box-sizing: border-box;
      }

      #container {
        padding: 15px;
        box-sizing: border-box;
      }
      #container .img,
      #container .video {
        max-width: 100%;
      }
    </style>
  </head>

  <body>
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <div class="weui-uploader">
          <div class="weui-uploader__hd">
            <p class="weui-uploader__title">文件上传</p>
          </div>
          <div class="weui-uploader__bd">
            <div class="weui-uploader__input-box">
              <input
                id="uploaderInput"
                class="weui-uploader__input"
                type="file"
                accept=""
                multiple="multiple"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="container"></div>
    <br />
    <div class="page__bd page__bd_spacing">
      <div class="weui-progress">
        <div class="weui-progress__bar">
          <div
            class="weui-progress__inner-bar js_progress"
            style="width: 0%;"
          ></div>
        </div>
      </div>
      <br />
    </div>
  </body>
</html>
<script src="./js/jquery-1.12.4.js"></script>
<script src="./js/common.js"></script>
<script src="./js/md5.js"></script>
<script>
  var search = decodeURIComponent(location.search)
  var folderName, albumName
  var arr = search.split('&')
  for (var i = 0; i < arr.length; i++) {
    if (arr[i].indexOf('name=') !== -1) {
      var index = arr[i].indexOf('name=')
      folderName = arr[i].slice(index + 5)
    } else if (arr[i].indexOf('target=') !== -1) {
      var index = arr[i].indexOf('target=')
      albumName = arr[i].slice(index + 7)
    }
  }

  // 上传视频开始
  $('#uploaderInput').on('change', function() {
    $('.loading').css('display', 'block')

    const files = this.files
    ;(async () => {
      for (let i = 0; i < files.length; i++) {
        await uploadOne(files[i])
      }
    })()
  })

  function getHash(file) {
    return new Promise(resolve => {
      var reader = new FileReader()
      reader.readAsDataURL(file)
      reader.onload = function(e) {
        var hash = hex_md5(e.target.result)
        resolve(hash)
      }
    })
  }
  async function uploadOne(file) {
    if (!file) {
      return
    }
    $('.js_progress').css('width', '0')
    let index = file.name.lastIndexOf('.')
    window.hash = await getHash(file)
    window.file = file
    window.size = file.size
    window.name =
      file.name.slice(0, index) + new Date().getTime() + file.name.slice(index)
    window.shareSize = 2 * 1024 * 1024
    window.total = Math.ceil(size / shareSize)
    window.success = 0
    window.index = 0

    return new Promise((resolve, reject) => {
      upload(
        function(data) {
          let ext = file.name.slice(file.name.lastIndexOf('.') + 1)
          const type = common.getIconByExt(ext)
          $('.js_progress').css('width', '100%')
          let html = ''
          if (type === 'mp4') {
            html = `<video class="video" controls="controls" src="${data.videoUrl}"></video>`
          } else if (type === 'img') {
            html = `<img class="img" src="${data.videoUrl}" />`
          } else {
            html = `<img class="icon" src="./img/ext/icon_file_type_${type}.png"></img>`
          }
          $('#container').append(html)
          resolve()
        },
        function(err) {
          console.log(err)
          reject()
          $('.js_progress').css('width', '0')
        }
      )
    })
  }

  function upload(callback, errCallback) {
    let file = window.file
    let i = window.index
    let shareSize = window.shareSize
    let total = window.total
    let success = window.success
    let hash = window.hash

    var start = i * shareSize
    var end = (i + 1) * shareSize > size ? size : (i + 1) * shareSize

    var formData = new FormData()
    formData.append('filename', name)
    formData.append('total', total)
    formData.append('index', i)
    formData.append('data', file.slice(start, end))
    formData.append('hash', hash)
    formData.append('folderName', folderName)
    formData.append('albumName', albumName)

    var xhr = new XMLHttpRequest()
    xhr.open('post', '/tools/upload')
    xhr.send(formData)
    xhr.onload = function() {
      success++
    }
    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4 && xhr.status == 200) {
        const data = JSON.parse(xhr.responseText)
        if (data.success) {
          if (i == total - 1) {
            callback(data)
          } else {
            $('.js_progress').css('width', data.process)
            window.index++
            upload(callback, errCallback)
          }
        } else {
          errCallback(data)
          console.error('网络错误！')
        }
      }
    }
  }
</script>
